@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body{
  --black: hsl(240,6%,13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background-color: #333;
}

main {
  background: url(../images/background.svg);
  background-repeat: no-repeat;
  width: 375px;
  /* width: 100vw; */
  height: 100vh;
  border-radius: 8px;
}

.container {
  max-width: 250px;
  margin: auto;
  text-align: center;
  color: var(--gray);
}

.link {
  transition: 500ms;
}

.link:hover {
  color: #BEFF0D;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;/*Para não distorcer as medidas*/

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);/*ferramenta clippy css*/
}

h1 {
  font: size 1.5rem;
  margin-top: 1.5rem;
}

a, ul {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
}

a img {
  margin-right: .5rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  gap: .5rem;
}

.iconsLink {
  transition: 500ms
}

.iconsLink:hover {
  filter: brightness(0.8) sepia(.8) saturate(4) hue-rotate(24deg);
}

footer {
  width: 100%;
  color: var(--gray);
  text-align: center;
  font-size: .75rem;
}

footer p {
  margin: 0;
  padding: .3rem;
}

footer p a {
  display: inline-block;
}

/* @media (min-width: 720px) {

}

@media (min-width: 960px) {

} */